<!DOCTYPE html>
<html>
<head>
	<title>{{.title}}</title>
</head>
<body>
<h1>Welcome to Simple Non Database Golang Rest Api</h1>
<h1>Made by Chrysna ardy putra pratama using Golang</h1>
<h1>Package Used:
<ul>
	<li>
		<h3>fmt</h3>
	</li>
	<li>
		<h3>net/http</h3>
	</li>
	<li>
		<h3>html/template</h3>
	</li>
	<li>
		<h3>Path</h3>
	</li>
</ul>
</h1>
<h1 style="color: red">WARNING!!!</h1>
<h1 style="color: red">Make Sure Port 10000 is Available and not used by anyone/anything in your computer</h1>
<h1 style="color: red">This is non database Rest Api,The data pass by array use map function to map the array</h1>
<h3>URL OF API:</h3>
<a href="http://localhost:10000/api">http://localhost:10000/api</a>
<h4>If you change the port change this too</h4>
<h4>Thanks</h4>
</body>
</html>